* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    background-color: #333;
    padding: 1rem 0;
}

.navbar .brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbar .nav-links li {
    margin: 0 1rem;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #ff6347;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.footer p {
    margin-bottom: 1rem;
}

.footer .footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer .footer-links li {
    margin: 0 1rem;
}

.footer .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.footer .footer-links a:hover {
    color: #ff6347;
}
